---
import { Image } from 'astro:assets';
import CheckCircle from '../../public/icons/circle-check.svg';
import codeImage from '../../src/assets/code.jpg';
import { checklistItems } from '../constants/checkListItems';
---

<section class='mt-20'>
  <h2 class='text-3xl sm:text-5xl lg:text-6xl text-center mt-6 tracking-wide'>
    Accelerate your{' '}
    <span
      class='bg-gradient-to-r from-orange-500 to-orange-800 text-transparent bg-clip-text'
    >
      coding workflow.
    </span>
  </h2>
  <div class='flex flex-wrap justify-center'>
    <div class='p-2 w-full lg:w-1/2'>
      <Image src={codeImage} alt='Coding' />
    </div>
    <div class='pt-12 w-full lg:w-1/2'>
      {
        checklistItems.map(item => (
          <div class='flex mb-12'>
            <div class='text-green-400 mx-6 bg-neutral-900 h-10 w-10 p-2 justify-center items-center rounded-full'>
              <Image src={CheckCircle} alt='check icon' />
            </div>
            <div>
              <h5 class='mt-1 mb-2 text-xl'>{item.title}</h5>
              <p class='text-md text-neutral-500'>{item.description}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
